<% content_for(:title, "Pokemon Tracker") %>

<div clas="page-header">
	<h1>Pokemon:</h1>
</div>

<ul>
	<% @animals.each do |animal| %>
	<li><a href="animals/<%= animal.id %>/show"><%= animal.name %></a></li>
	<% end %>
</ul>