<% content_for(:title, "Trainers") %>

<div clas="page-header">
	<h1>Trainers:</h1>
</div>

<ul>
	<% @trainers.each do |trainer| %>
	<li><%= trainer.name %></li>
	<% end %>
</ul>

<a href="/trainers/<%= @trainer.id %>/edit">Edit Trainer</a> | 
<a href="/trainers/<%= @trainer.id %>"
	 data-confirm="You sure?"
   data-method="delete"
   rel="nofollow">Delete Trainer</a>